$main-font: 'Open Sans', sans-serif;
$title-font: 'Montserrat', sans-serif;
$background-image: url(../images/imagenfondo.jpg);
$title-text-color: #2890c0;
$main-color: #2791C2;
$gender-lable-color: #0FEFFD;
$rating-start-color: #FF9900;
$most-watched-background-color: #1E1E1E;
$switch-selected-color: #373737;