* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.body-container {
  display: grid;
  grid-template-columns: auto;
}

.navbar {
  background-color: #2791C2;
  display: grid;
  height: 5.6rem;
  grid-template-columns: auto auto auto auto;
  padding: 1.375em 2.5em;
}

.app-name {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: white;
  margin: auto;
}
.app-name strong {
  font-weight: 900;
}
.app-name i {
  font-weight: 400;
}

.searchbar-container {
  margin: auto;
  height: 2.875rem;
  width: 15.25em;
  background-color: white;
  border-radius: 0.25rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
}

.searchbar-icon {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.75em;
}

.searchbar-input {
  border-style: none;
  height: 100%;
  background-color: transparent;
  font-weight: 400;
  font-size: 0.81rem;
}

.log-out-buttom {
  background-color: transparent;
  border-style: none;
  font-size: 0.75rem;
  color: white;
  margin: auto;
}

.profile-image {
  width: 2.8125em;
  height: 2.8125em;
  margin-top: auto;
  margin-bottom: auto;
}

.main-container {
  display: grid;
  height: 850px;
  padding: 152px 95px;
  background: linear-gradient(to bottom, #080E20 0%, transparent, rgba(15, 24, 54, 0.4) 100%), url(../images/avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.gender-label {
  font-size: 1.5rem;
  color: #0FEFFD;
  margin-block-start: 0;
  margin-block-end: 0;
  align-self: center;
}

.rating-start {
  color: #FF9900;
  height: 1.375em;
  width: 1.375em;
  display: inline;
}

.rating-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: start;
  column-gap: 0.75em;
}

.movie-title {
  font-size: 3.5em;
  font-weight: 700;
}

.main-description-text {
  font-size: 1.5rem;
  font-weight: 400;
}

.watch-now-buttom {
  border-radius: 93px;
  background-color: #2791C2;
  border-style: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.most-watched-movies-container {
  background-color: #1E1E1E;
  padding: 50px 95px 250px 95px;
  display: grid;
  row-gap: 50px;
}

.most-watched-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 50px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.movie {
  background: linear-gradient(to top, #000000 20%, rgba(0, 0, 0, 0) 100%), url(../images/jurassic_world.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 620px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  justify-content: end;
  padding: 0 50px 30px 50px;
}

.most-watched-movie-title {
  font-size: 2.25rem;
  font-weight: 700;
  align-self: end;
  vertical-align: top;
  line-height: 64px;
}

.rating-start--small {
  color: #FF9900;
  height: 13px;
  width: 13px;
  padding: 15px 6px 20px 0;
}

.most-watched-movie-description {
  size: 1em;
  font-weight: 400;
  line-height: 20px;
}

/*# sourceMappingURL=home.css.map */
