.main-container {
  font-family: "Open Sans", sans-serif;
  justify-content: center;
  color: white;
  background-image: url(../images/imagenfondo.jpg);
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  justify-content: center;
  display: flex;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__text {
  width: 100%;
  color: #2890c0;
  font-size: 2.25em;
  text-align: center;
  margin-top: 66px;
  margin-bottom: 66px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.header__text strong {
  font-weight: 900;
}

.login-card {
  padding: 2em;
  display: flex;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(47, 47, 47);
  width: 580px;
  height: 1029px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-card__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5em;
}

.login-card__subtitle {
  font-size: 1.5rem;
  margin-top: 1em;
}

.login-form {
  margin-top: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-input {
  width: 100%;
  display: block;
  margin-top: 1em;
  padding: 0.8em;
  height: 70px;
  border-style: none;
  border-radius: 5px;
  font-size: 1.5rem;
}

.checkbox-container {
  width: 100%;
  text-align: start;
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 1.5rem;
}

.remember-me-checkbox__label {
  flex-grow: 1;
}

.remember-me-checkbox {
  width: 30px;
  height: 30px;
}

.submit-buttom {
  width: 486px;
  height: 70px;
  background-color: #2ab9fd;
  border-radius: 2em;
  margin-top: 1em;
  color: white;
  font-size: 1.5rem;
  border-style: none;
  padding: 1em;
  font-weight: bold;
}

.not-registered-container {
  margin-top: 40px;
  font-size: 20px;
}

.line-with-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.line-with-text::before {
  content: "";
  flex: 1;
  border-bottom: 1px solid white;
  margin-bottom: 0.5em;
  margin-right: 2em;
}

.line-with-text::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid white;
  margin-bottom: 0.5em;
  margin-left: 2em;
}

@media only screen and (min-width: 641px) {
  .login-form {
    margin-top: 0px;
  }
  .login-card {
    width: 445px;
    height: 570px;
    padding: 32px 42px 42px 42px;
  }
  .header__text {
    width: 100%;
    color: #2890c0;
    font-size: 2.5em;
    text-align: center;
    margin-top: 66px;
    margin-bottom: 66px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  .header__text strong {
    font-weight: 900;
  }
  .login-card__title {
    font-size: 1rem;
    margin-top: 0;
  }
  .login-card__subtitle {
    font-size: 0.625;
    margin-top: 0;
    margin-bottom: 0;
  }
  .text-input {
    width: 100%;
    display: block;
    margin-top: 1em;
    padding: 0.8em;
    height: 38px;
    border-style: none;
    border-radius: 5px;
    font-size: 0.813rem;
    width: 355px;
  }
  #checkbox-container {
    width: 100%;
    text-align: start;
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 0.625;
  }
  .submit-buttom {
    width: 355px;
    height: 50px;
    background-color: #2ab9fd;
    border-radius: 2em;
    margin-top: 1em;
    color: white;
    font-size: 0.94rem;
    border-style: none;
    padding: 1em;
    font-weight: bold;
  }
  .not-registered-container {
    margin-top: 10px;
    font-size: 10px;
  }
  .login-external {
    width: 358px;
    height: 45px;
    margin-bottom: 10px;
    font-size: 0.875rem;
    margin-top: 0px;
  }
}

/*# sourceMappingURL=login2.css.map */
